@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    0deg,rgba(247, 247, 247, 1) 23.8%,
      rgba(252, 221, 221, 1) 92%     
       );
  height: 100vh;
}


/* PlayingBar */


.music-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  position: fixed;
  bottom: 10px;
  padding: 15px;
  min-width: 620px;
}

.leftContainer, .rightContainer{
  width: 30%;
  min-width: 180px;
}


.image-info{
  display: flex;
  width: 100%;
  justify-content: space-around;
  min-width: 180px;
}

.img-container{
  width: 110px;
  position: relative;
}

.song-info{
  width: 30%;
}

.img-container img{
  border-radius: 50%;
  width: inherit;
  height: 110px;
  position: absolute;
  bottom: -30px;
}

.centerContainer{
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation{
  width: 100%;
}

.navigationBtn{
  display: flex;
    justify-content: center;
    align-items: center;
}
.progress-container{
  display: flex;
  justify-content: space-between;
  /* background: #dfdbdf; */
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;


}
.progressBar{
  width: 100%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
  margin: 4px;
}
.innerprogressBar{
  background-color: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}
.progress{
  background-color: #a0a0a0;
  border-radius: 5px;
  height: 4px;
  width: 0;
  /* transition: width 0.1s linear; */
  text-align: center;
} 


.progressTime.current{
  color: #a0a0a0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}
.progressTime.remaining{
  color: #a0a0a0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}


.action-btn{
  background-color: #fff;
  border:0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big{
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus{
  outline: 0;
}

.volume{
  display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pogressVolume{
  background: #dfdbdf;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 45%;
  margin-top: 23px;
}


.music-info{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  padding: 10px 10px 10px 150px;

}

.music-info h4{
  margin:0;
}

#artistName{
  margin-left: -55px ;
}

#title{
  margin-left: -30px;
}





/* end of PlayingBar */

#topContainer{
  min-height: 100%;
  width: 100%;
}

#navBarContainer{
  background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar{
  padding: 25px;
  display: flex;
  flex-direction: column;

}
.logo{
  border-bottom: 1px solid #a0a0a0;
  /* margin-top:16px ; */
  display: flex;
  text-decoration: none;
  letter-spacing: 1px;


}
.logo img{
  width:30px;
  margin-bottom: 16px;

}

.navbar .groupOfItems{
  /* border-top: 1px solid #a0a0a0; */
  padding: 10px 0;

}
.navItem{
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  display: block;
  letter-spacing: 1px;
  position: relative;

}

.navItemLink{
  color: #a0a0a0;
  text-decoration: none;
}

.navItemLink .icon{
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.navItemLink:hover{
  color: #fff;
}

#mainViewContainer{
  margin-left: 220px;
  padding-bottom: 100px;
  width: calc(100% - 220px);
}
#mainContent{
  padding: 0 20px;
}

.mainTitle{
  padding: 20px;
  text-align: center;
}
.gridViewContainer{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

}
.text-primary{
  color: #fe8daa;
}

.gridViewInfo{
  font-weight: 400;
  text-align: center;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #fe8daa;
  
}
.gridViewItem> a{
  text-decoration: none;
}


/* album section */
.entityInfo{
  display: flex;
  padding: 40px 0 10px 0;
  width: 100%;
  justify-content: center;
}

.leftSection{
  width: 30%;
}

.leftSection img{
  width: 100%;
}

.rightSection{
  width: 70%;
  padding: 5px 10px 5px 40px;
  box-sizing: border-box;
}


.rightSection h2{
  margin: 0;
}

.rightSection p{
  color: #939393;
  font-weight: 200;
}

/* track Section */
.trackList{
  padding: 0;
}

.tracklistRow{
  height: 40px;
  padding: 15px 10px;
  list-style: none;
}

.tracklistRow:hover{
  background-color: #dfdbdf;
}

.trackName{
    color: #939393;
    font-weight: 200;
}

.trackCount{
  width: 8%;
  float: left;

}

.trackCount i{
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

.trackCount:hover i{
  visibility: visible;

}

.tracklistRow .trackCount span{
  visibility: visible;
}

.tracklistRow .trackCount:hover span{
  visibility: hidden;
}

.tracklistRow .trackInfo{
  width: 75%;
  float: left;
}

.tracklistRow .trackOptions{
  width: 15%;
  display: flex;
  text-align: right;
  justify-content: space-between;
}

.tracklistRow .trackOptions .iconOption{
  visibility: hidden;
}

.tracklistRow .trackOptions:hover .iconOption{
  visibility: visible;
}

.tracklistRow .trackDuration{
  width: 0%;
}